@media only screen and (min-device-width : 0px) and (max-device-width : 768px) {
    .subscribe_custom_pafdding {
        padding: 0px 0px !important;
    }
    .subscribe_custom_container {
        padding: 10px;
    }
    .subscribe h6 {
        font-size: 30px;
    }
    .subscribe p {
        font-size: 15px;
        margin-top: 13px;
        line-height: 17px;
    }
    .subscribed_input_email {
        height: 55px !important;
        font-size: 25px;
        width: 100% !important;
        border-radius: 0 !important;
        margin-bottom: 15px !important;
    }
    .latest_blogs {
        padding: 0 0px 325px;
    }
    .postimg {
        margin-top: 0;
    }
    .custom_padding_latest_news_heading {
        padding: 0px 23px;
    }
    .post-header {
        padding-left: 10px !important;
    }
    .blig_paragraph {
        padding: 0px 10px 10px 10px;
    }
    .custom_padding_container_how_it_works {
        padding: 0 20px;
    }
    .howitwrap {
        padding: 25px;
        top: 50px;
    }
    .how_it_works_inner {
        padding: 10px;
    }
    .howlist li p {
        padding-right: 10px;
        text-align: center;
    }
    .howlist li .iconcircle {
        display: block;
    }
    .how_works_icons {
        height: 63px;
        margin: 0 auto;
        display: block;
    }
    .howlist li h4 {
            text-align: center;
    }
    .how_it_works_inner h4,.how_it_works_inner p {
        text-align: center;
        margin: 0;
    }
    .number_of_jobs_counter {
        display: block;
        width: 100%;
        text-align: center;
    }
    .margin-top-bottom {
        margin: 15px 0px; 
    }
    .featuredJobsdescription {
        text-align: left;
        padding: 0;
        margin: 10px 0;
    }
    .titleTop h3 {
        text-align: left !important;
    }
    .featuredJobsHeading {
        text-align: left !important;
    }
    .feature_jobs_advert {
        width: 79%;
        min-height: 70px;
        margin: 0 auto;
    }
    .carousel-control-next {
        right: -25px;
    }
    .jobs_Category_container {
        width: 87%;
    }
    .find_dream_job {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 20px;
    }
    .easily_quickly {
        font-size: 43px;
        text-align: center;
        line-height: 46px;
    }
    .find_jobs_filter {
        padding: 20px;
    }
    .custom_margin_responsive {
        margin-bottom: 13px;
    }
    .get_noticed {
        line-height: 35px;
    }
    .lets_register {
        margin-top: 22px;
    }
    .custom_margin_top_responsive {
        margin-top: 30px;
    }
    .header_logo_padding_left {
        padding-left: 0 !important;
    }
    .header_search_custom_margin {
        padding: 0 !important;
    }
    .right_talent {
        font-size: 18px;
        text-align: center;
    }
    .searchbar .btn {
        margin: 0px;
    }
    .margin_left_custom_explore {
        margin: 0px !important;
    }
    .right_talent_categories {
        margin-top: -20px;
    }
    .margin_left_custom_jobs_company {
        margin-left: 0rem!important;
        margin-top: 15px;
    }
    .custom_margin_top_search_job {
        margin-top: 10px !important;
    }
    .viewallbtn {
        width: 87%;
        margin: 0 auto;
    }
    .viewallbtn a {
        font-size: 18px;
    }
    .custom_width_100_percentage {
        width: 100%;
    }
    .custom_top_margin_second_header {
        margin-top: 20px !important;
    }
    .userccount {
        padding: 10px;
    }
    .userbtns .nav-tabs>li {
        width: 43%;
    }
    .userbtns .nav-tabs>li a {
        padding: 10px 30px;
        font-size: 14px;
    }
}
/*@media only screen and (min-device-width : 321px) and (max-device-width : 360px) {}
@media only screen and (min-device-width : 361px) and (max-device-width : 375px) {}
@media only screen and (min-device-width : 376px) and (max-device-width : 425px) {}
@media only screen and (min-device-width : 426px) and (max-device-width : 470px) {}
@media only screen and (min-device-width : 471px) and (max-device-width : 600px) {}
@media only screen and (min-device-width : 601px) and (max-device-width : 768px) {}*/
@media only screen and (min-device-width : 769px) and (max-device-width : 992px) {
    .navbar-nav>li>a {
        font-size: 15px;
    }
    .desktop_logo {
        max-width: 100%;
        margin-top: 12px;
    }
    .find_dream_job {
        font-size: 30px;
        margin-top: 30px;
    }
    .easily_quickly {
        font-size: 35px;
        margin: 15px 0 17px 0;
    }
    .find_jobs_filter {
        padding: 10px;
    }
    .searchbar .form-control {
        padding: 9px 14px 8px 58px;
        min-height: 45px;
    }
    .custom_job_title_field {
        background: url(../images/search_default_icon.png) no-repeat 12px 8px;
        background-size: 27px;
    }
    .custom_country_title_field {
        background: url(../images/country_default_icon.png) no-repeat 12px 8px;
        background-size: 27px;
    }
    .searchbar .btn {
        padding: 6px 30px;
        font-size: 16px;
    }
    .lets_register {
        font-size: 24px;
        margin-top: 20px;
    }
    .get_noticed_register_btn_container {
        margin-top: 10px;
    }
    .find_job_background_image_right {
        background-size: 97% 79%;
    }
    .right_talent {
        font-size: 18px;
    }
    .right_talent_explore {
        height: 32px;
        margin-top: 8px;
        line-height: 8px;
        font-size: 14px !important;
    }
    .jobs_Category_container {
        width: 90%;
    }
    .jobs_Category_name {
        left: 11px;
        top: 17px;
        font-size: 11px;
    }
    .carousel-control-next {
        right: -36px;
    }
    .how_works_icons {
        height: 62px;
    }
    .how_it_works_inner div a {
        line-height: 18px;
    }
    .how_it_works_inner div h4 {
        font-size: 17px;
    }
    .category_number_jobs {
        font-size: 17px;
        text-align: center;
    }
    .howlist li p {
        padding-right: 0px;
    }
    .userloginbox {
        background-size: 100% 73%;
    }
    .howitwrap {
        top: 150px;
    }
    .subscribe h6 {
        font-size: 40px;
    }
    .subscribe p {
        font-size: 18px;
    }
    .subscribe_custom_pafdding {
        padding: 0px 0px !important;
    }
}
@media only screen and (min-device-width : 993px) and (max-device-width : 1024px) {
    .navbar-nav>li>a {
        font-size: 15px;
    }
    .desktop_logo {
        max-width: 100%;
        margin-top: 12px;
    }
    .find_dream_job {
        font-size: 30px;
        margin-top: 30px;
    }
    .easily_quickly {
        font-size: 35px;
        margin: 15px 0 17px 0;
    }
    .find_jobs_filter {
        padding: 10px;
    }
    .searchbar .form-control {
        padding: 9px 14px 8px 58px;
        min-height: 45px;
    }
    .custom_job_title_field {
        background: url(../images/search_default_icon.png) no-repeat 12px 8px;
        background-size: 27px;
    }
    .custom_country_title_field {
        background: url(../images/country_default_icon.png) no-repeat 12px 8px;
        background-size: 27px;
    }
    .searchbar .btn {
        padding: 6px 30px;
        font-size: 16px;
    }
    .lets_register {
        font-size: 24px;
        margin-top: 20px;
    }
    .get_noticed_register_btn_container {
        margin-top: 10px;
    }
    .find_job_background_image_right {
        background-size: 97% 79%;
    }
    .right_talent {
        font-size: 18px;
    }
    .right_talent_explore {
        height: 32px;
        margin-top: 8px;
        line-height: 8px;
        font-size: 14px !important;
    }
    .jobs_Category_container {
        width: 90%;
    }
    .jobs_Category_name {
        left: 11px;
        top: 17px;
        font-size: 11px;
    }
    .carousel-control-next {
        right: -36px;
    }
    .how_works_icons {
        height: 62px;
    }
    .how_it_works_inner div a {
        line-height: 18px;
    }
    .how_it_works_inner div h4 {
        font-size: 17px;
    }
    .category_number_jobs {
        font-size: 17px;
        text-align: center;
    }
    .howlist li p {
        padding-right: 0px;
    }
    .userloginbox {
        background-size: 100% 73%;
    }
    .howitwrap {
        top: 150px;
    }
    .subscribe h6 {
        font-size: 40px;
    }
    .subscribe p {
        font-size: 18px;
    }
    .subscribe_custom_pafdding {
        padding: 0px 0px !important;
    }
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1199px) {
    .navbar-nav>li>a {
        font-size: 15px;
    }
    .desktop_logo {
        max-width: 100%;
        margin-top: 12px;
    }
    .find_dream_job {
        font-size: 30px;
        margin-top: 30px;
    }
    .easily_quickly {
        font-size: 35px;
        margin: 15px 0 17px 0;
    }
    .find_jobs_filter {
        padding: 10px;
    }
    .searchbar .form-control {
        padding: 9px 14px 8px 58px;
        min-height: 45px;
    }
    .custom_job_title_field {
        background: url(../images/search_default_icon.png) no-repeat 12px 8px;
        background-size: 27px;
    }
    .custom_country_title_field {
        background: url(../images/country_default_icon.png) no-repeat 12px 8px;
        background-size: 27px;
    }
    .searchbar .btn {
        padding: 6px 30px;
        font-size: 16px;
    }
    .lets_register {
        font-size: 24px;
        margin-top: 20px;
    }
    .get_noticed_register_btn_container {
        margin-top: 10px;
    }
    .find_job_background_image_right {
        background-size: 97% 79%;
    }
    .right_talent {
        font-size: 18px;
    }
    .right_talent_explore {
        height: 32px;
        margin-top: 8px;
        line-height: 8px;
        font-size: 14px !important;
    }
    .jobs_Category_container {
        width: 90%;
    }
    .jobs_Category_name {
        left: 11px;
        top: 17px;
        font-size: 11px;
    }
    .carousel-control-next {
        right: -36px;
    }
    .how_works_icons {
        height: 62px;
    }
    .how_it_works_inner div a {
        line-height: 18px;
    }
    .how_it_works_inner div h4 {
        font-size: 17px;
    }
    .category_number_jobs {
        font-size: 17px;
        text-align: center;
    }
    .howlist li p {
        padding-right: 0px;
    }
    .userloginbox {
        background-size: 100% 73%;
    }
    .howitwrap {
        top: 150px;
    }
    .subscribe h6 {
        font-size: 40px;
    }
    .subscribe p {
        font-size: 18px;
    }
    .subscribe_custom_pafdding {
        padding: 0px 0px !important;
    }
}
@media only screen and (min-device-width : 1200px) and (max-device-width : 1400px) {
    .find_dream_job {
        font-size: 33px;
    }
    .easily_quickly {
        font-size: 45px;
    }
    .get_noticed {
        font-size: 28px;
    }
    .lets_register {
        font-size: 20px;
        margin-top: 38px;
    }
    .carousel-control-next {
        right: -45px;
    }
    .jobs_Category_container {
        width: 95%;
    }
    .jobs_Category_name {
        left: 22px;
        top: 16px;
        font-size: 11px;
    }
    .how_works_icons {
        height: 50px;
    }
    .how_it_works_inner {
        padding: 15px;
    }
    .how_it_works_inner div a {
        line-height: 18px;
    }
    .how_it_works_inner div h4 {
        font-size: 17px;
    }
    .category_number_jobs {
        font-size: 17px;
        text-align: center;
    }
    .howlist li p {
        padding: 0px;
    }
    .userloginbox {
        background-size: 100% 73%;
    }
    .howitwrap {
        top: 200px;
    }
    .post-header {
        padding-top: 15px;
    }
    .userloginbox p {
        padding: 0px 15px 30px 15px;
    }
    .subscribe h6 {
        font-size: 40px;
    }
    .subscribe p {
        font-size: 18px;
    }
    .subscribe_custom_pafdding {
        padding: 0px 0px !important;
    }
    .get_noticed_background_image {
        min-height: 285px;
    }
}
@media only screen and (min-device-width : 1401px) and (max-device-width : 4500px) {
    .get_noticed {
        font-size: 34px;
    }
    .lets_register {
        margin-top: 38px;
    }
    .how_works_icons {
        height: 66px;
    }
    .how_it_works_1 {
        background-position: center right;
    }
    .how_it_works_2 {
        background-position: center right;
    }
    .how_it_works_3 {
        background-position: center right;
    }
    .lets_register {
        max-width: 84%;
    }
    .get_noticed_background_image {
        min-height: 285px;
    }
}