body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.f-35{
  font-size: 25px;
}
.mt0{
  margin-top: 0;
}

.mt3{
  margin-top: 4px;
}
.mb0{
  margin-bottom: 0;
}

.fz{
  font-size: 11px;
}

/* .mt-5{
  margin-top: px;
} */

.fs{
  font-size: 10px;
}
.wid-70{
  width: 60%;
  float: left;
}
.wid-30{
  width: 39%;
  float: right;
}
.wid-40{
  width: 40%;
}
.wid-60{
  width: 60%;
}
.wid-50{
  width: 49%;
}
.wid-20{
  width: 20%;
}
.mb0{
  margin-bottom: 0;
}
.mt-1{
  margin-top: -5px;
}
.f-left{
  float: left;
}
.f-right-1{
  float: right;
  align-items: end;
  text-align: end;
}
.pad-1{
  padding-left: 30px;
  padding-right: 30px;
}

.pad2{
  padding-left: 80px;
  padding-right: 60px;
}
.pad-2{
  padding-right: 30px;
  margin-top: 0px;
}


.txt-clr{
  color:  #F65C5C;
}
.fw-t{
  font-size: 16px;
  /* margin-top: -2px; */
}
p{
  font-size: 10px;
}
li{
  font-size: 15px;
  margin: 3px 0;
}
span{
  font-size: 16px;
}
.wid-30-1{
  width: 30%;
  float: left;
}
.wid-40{
  width: 38%;
  float: left;
}
h1 {
  display: block;
  font-size: 24px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.pt-6{
  padding-top: -6px;
}

.pt-5{
  padding-top: 4px;
}

.pt-10{
  padding-top: 10px;
}

.clear{
  clear: both;
}

.f-20{
  font-size: 20px;
}

.f-16{
  font-size: 16px;
}
.f-18{
  font-size: 18px;
}

.f-14{
  font-size: 14px;
}

.f-b{
  font-weight: bold;
}
.header{
  padding-bottom: 20px;
}

.m-5{
  margin: 5px 0;
}


.p-wid-70{
  width: 65%;
  float: left;
}
.p-wid-30{
  width: 35%;
  float: right;
  text-align: right;
}


.education{
  margin-bottom: 20px;
}

.test-border{
  border: 1px solid red;
}


