html {
  box-sizing: border-box;
}
html *, html *:before, html *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #f9f7f1;
  /* width: 100%; */
  height: 100%;
  font-family: "Droid Serif", serif;
  font-size: 14px;
}
body .resume-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
body .resume-wrapper header {
  display: block;
  line-height: 90px;
  background: #fff;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  text-align: center;
  margin: 2rem 0 0;
  padding: 0;
}
body .resume-wrapper header h1 {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
  line-height: 3rem;;
}
body .resume-wrapper .sub-header {
  margin: 8px 0;
  text-align: center;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body .resume-wrapper .sub-header h4 {
  padding: 0;
  margin: 0;
  line-height: 30px;
}
body .resume-wrapper .sub-header h4#type-js {
  position: relative;
  display: inline-block;
}
body .resume-wrapper .sub-header h4#type-js .text-js {
  /* opacity: 0; */
}
body .resume-wrapper .sub-header h4 .cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  background-color: #eee;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
body .resume-wrapper .btn-box {
  padding: 2rem;
  text-align: center;
  position: relative;
}
body .resume-wrapper .btn-box button {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #333;
  background-color: #eee;
  color: #333;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  text-align: center;
}
body .resume-wrapper .btn-box button:hover {
  background-color: #333;
  color: #ddd;
}
body .resume-wrapper section {
  position: relative;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  padding: 3rem 3rem;
}
body .resume-wrapper section p {
  font-size: 12px;
  line-height: 1.3rem;
}
body .resume-wrapper section dl dd,
body .resume-wrapper section dl dt {
  font-size: 12px;
  line-height: 1rem;
}
body .resume-wrapper section dl.intro {
  padding: 0.5em;
}
body .resume-wrapper section dl.intro dt {
  float: left;
  clear: left;
  width: 50px;
  text-align: left;
  font-weight: bold;
  color: #333;
}
body .resume-wrapper section dl.intro dt::after {
  content: ":";
}
body .resume-wrapper section dl.intro dd {
  margin: 0 0 0 20px;
  padding: 0 0 0.5em;
}
body .resume-wrapper section dl.detail {
  padding: 0.5em;
}
body .resume-wrapper section dl.detail dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: #bbb;
}
body .resume-wrapper section dl.detail dt::after {
  content: ":";
}
body .resume-wrapper section dl.detail dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em;
}
body .resume-wrapper section .box {
  position: relative;
  clear: left;
}
body .resume-wrapper section .box .title {
  color: #555;
  font-size: 1.3em;
  letter-spacing: 0.1rem;
  margin: 20px 0 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}
body .resume-wrapper section .box a.link {
  width: 140px;
  display: block;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #333;
  background-color: #eee;
  color: #333;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  text-decoration: none;
  text-align: center;
}
body .resume-wrapper section .box a.link:hover {
  background-color: #333;
  color: #ddd;
}
body .resume-wrapper section .box h4 {
  letter-spacing: 0.06rem;
  font-size: 1rem;
  margin-bottom: 0;
  color: #888;
}
body .resume-wrapper section .box h4 span {
  margin: 0.5rem 0 0;
  display: block;
  color: #888;
  font-size: 12px;
}
body .resume-wrapper section .box ul li {
  color: #555;
  font-size: 12px;
  line-height: 1rem;
}
body .resume-wrapper section .box .skills h4 {
  margin: 2rem 0;
}
body .resume-wrapper section .box .skills ul {
  list-style: none;
  position: relative;
  padding: 0 10px;
}
body .resume-wrapper section .box .skills ul li {
  position: relative;
  /* margin-bottom: 1rem; */
  /* background: #dedede;
  height: 6px; */
}
body .resume-wrapper section .box .skills ul li span {
  height: inherit;
  background: #5e5e5e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #5e5e5e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #5e5e5e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
}
body .resume-wrapper section .box .skills ul li b {
  font-size: 12px;
  position: relative;
  font-weight: 600;
  /* top: -20px; */
}
@keyframes fillTen {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes fillNine {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes fillSeven {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes fillFive {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes fillThree {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
body .resume-wrapper section .box .skills ul .fill {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
body .resume-wrapper section .box .skills ul .fill.ten {
  animation-name: fillTen;
  width: 95%;
}
body .resume-wrapper section .box .skills ul .fill.nine {
  animation-name: fillNine;
  width: 90%;
}
body .resume-wrapper section .box .skills ul .fill.seven {
  animation-name: fillSeven;
  width: 70%;
}
body .resume-wrapper section .box .skills ul .fill.five {
  animation-name: fillFive;
  width: 50%;
}
body .resume-wrapper section .box .skills ul .fill.three {
  animation-name: fillThree;
  width: 30%;
}
body .resume-wrapper section.intro {
  width: 25%;
  position: relative;
  float: left;
}
body .resume-wrapper section.intro figure {
  position: relative;
  width: 100%;
  height: 400px;
}
body .resume-wrapper section.intro figure.profile-box {
  top: 50%;
  left: 0;
  /* transform: translate3d(0%, -50%, 0); */
  width: 190px;
  height: 190px;
  border-radius: 100%;
  background-color: #b6b6b6;
  margin: 0 auto;
  border: 1px solid #ddd;
  overflow: hidden;
  /* transition: all 1s ease;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: img-fadeIn;
  animation-name: img-fadeIn; */
}
body .resume-wrapper section.intro figure.profile-box img {
  /* width: 100%;
  height: auto; */
  /* -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 1s ease;
  filter: grayscale(0.5); */
}
body .resume-wrapper section.intro figure.profile-box:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: grayscale(0);
}
body .resume-wrapper section.intro .contact-box {
  padding: 2rem 0 0;
}
body .resume-wrapper section.intro .social-box {
  padding: 2rem 0 0;
}
body .resume-wrapper section.intro .social-box ul {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0;
}
body .resume-wrapper section.intro .social-box ul li {
  display: inline-block;
  list-style: none;
  padding: 2%;
}
body .resume-wrapper section.intro .social-box ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-out;
}
body .resume-wrapper section.intro .social-box ul li a svg {
  display: block;
  height: 100%;
  width: 100%;
  color: #2f2f2f;
  fill: #ddd;
  transition: all 0.5s ease-out;
}
body .resume-wrapper section.intro .social-box ul li a svg:hover {
  border-radius: 100%;
  color: #2f2f2f;
  fill: #fff;
  transition: all 0.5s ease-out;
  background: #333;
}
body .resume-wrapper section.detail {
  width: 53%;
  height: 100%;
  background-color: #fff;
  float: left;
}

@-webkit-keyframes incomingPulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 180, 105, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 26px rgba(28, 180, 105, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 180, 105, 0);
  }
}
@keyframes incomingPulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(28, 180, 105, 0.4);
    box-shadow: 0 0 0 0 rgba(28, 180, 105, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 26px rgba(28, 180, 105, 0);
    box-shadow: 0 0 0 26px rgba(28, 180, 105, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(28, 180, 105, 0);
    box-shadow: 0 0 0 0 rgba(28, 180, 105, 0);
  }
}
page[size=A4] {
  background-color: #f9f7f1;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {
  body,
page[size=A4] {
    margin: 0;
    box-shadow: 0;
  }
}
@keyframes img-fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -500px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 10px, 0);
  }
}
body {
  font-size: 21px;
  font-family: Georgia, serif;
  line-height: 150%;
  /* iPhone Retina */
}


/* .skills{
  margin: 0;
  padding: 0;
}
.skills ul{
  margin: 0;
  padding: 0;
} */
.skill-title{
  font-weight: 600;
  border-bottom: 1px dotted #434343;
  margin-bottom: 20px;
}
.skill-title p{
  margin: 5px auto;
}
.skill_duration{
  font-weight: bold;
}