html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}
.container {
  /* display: flex; */
  max-width: 960px;
  /* background-color: #eaeaea; */
  justify-content: space-between;
  margin: 20px auto;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1)
}
.profile {
  flex-basis: 35%;
  background-color: #39383a;
  color: #ababab;
  width: 32%;
  float: left;
}
.profile-photo {
  height: 220px;
  text-align: center;
  /* background-image: url('/resumes/user.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat; */
}
.profile-photo img{
  width: 100%;
  /* height: inherit; */
  object-fit: contain;
}
.profile-info {
  padding-left: 30px;
  padding-right: 30px;
  /* padding-top: 50px; */
  padding-bottom: 70px;
}
.profile-text {
  font-size: 13px;
  line-height: 24.19px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.heading {
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.heading-light {
  color: #ffffff;
  border-bottom: 2px dashed #5a5a5a;
}
.contacts {
  margin-bottom: 70px;
}
.contacts-title {
  color: #fff;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
}
.contacts-title i{
  font-style: normal;
}
.contacts-text {
  color: #ababab;
  text-decoration: none;
  padding-left: 27px;
  line-height: 20.97px;
}
.contacts-item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px dashed #5a5a5a;
}
address {
  font-style: normal;
}
.fas {
  margin-right: 7px;
}
.languages {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  text-align: center;
}
.language {
  width: 70px;
  height: 65px;
  border: 6px solid #5c5c5c;
  border-radius: 50%;
  display: block;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 20px;
  float: left;
}
/* .language:nth-child(3) {
  margin-bottom: 0;
} */
.language-text {
  text-transform: uppercase;
  font-size: 13px
}
.languages-per {
  font-size: 12px;
  font-weight: 600;
}
.lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line {
  display: block;
  width: 90px;
  height: 2px;
  background-color: #5c5c5c;
  margin-top: 10px;
  margin-bottom: 10px;
}
.line:nth-child(2) {
  width: 100px;
  margin-left: 20px;
}
.resume {
  padding: 15px 30px;
  flex-basis: 63%;
  background-color: #fff;
  width: 60%;
  float: left;
}
.resume-wrap {
  padding: 20px 56px;
  border: 1px solid rgba(168, 168, 168, 0.44);
  min-height: 100%;
}
.logo {
  /* display: flex; */
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  
}
.logo-img {

  padding-top: 35px;
  width: 90px;
  height: 55px;
  border: 1px solid #39383a;
  border-radius: 50%;
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.logo-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 17px;
  margin-right: 17px;
}
.logo-line {
  width: 43px;
  height: 2px;
  background-color: #39383a;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo-lines_left .logo-line:nth-child(2) {
  margin-right: 20px;
  width: 55px;
}
.logo-lines_right .logo-line:nth-child(2) {
  margin-left: 20px;
  width: 55px;
}
.about {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  margin-bottom: 20px;
}
.name {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10.75px;
  margin-bottom: 10px;
}
.position {
  display: inline-block;
  font-size: 9px;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 30px;
}
.about-address {
  font-size: 13px;
  margin-top: 15px;
  /* margin-bottom: 15px; */
  font-family: Roboto;
}
.about-contacts {
  font-size: 8px;
}
.about-contacts__link {
  text-decoration: none;
  color: #777777;
}
.heading_dark {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
  /* margin-bottom: 10px; */
}
.list {
  list-style: none;
  padding-left: 0;
}
.list-item {
  position: relative;
  padding-left: 20px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px dashed #ececec;
}
.list-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
}
.list-item__title {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 5px;
}.list-item__date {
  font-size: 10px;
  text-transform: uppercase;
}
.list-item__text {
  font-size: 10px;
  color: #777;
}
.list-item_non-border {
  border: none;
}
.heading_skills {
  /* margin-bottom: 48px; */
}
.skills{
  padding-top: 20px;
}
.skills-list {
  list-style-type: none;
  padding-left: 0;
}
.skills-list__item {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 11px;
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
}
.level {
  width: 70%;
  height: 8px;
  border: 1px solid #39383a;
  position: relative;
}
.level:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #898989;
}
.level-80:before {
  width: 80%;
}
.level-90:before {
  width: 90%;
}
.level-50:before {
  width: 50%;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    width: 70%;
  }
  .profile-photo {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    margin: auto;
    margin-top: 40px;
  }
  .profile {
    position: relative;
  }
  .profile:before {
    content: '';
    width: 100%;
    height: 150px;
    background-color: #03A9F4;
    display: block;
    position: absolute;
  }
  .profile-photo {
    position: relative;
    z-index: 0;
  }
  .lines {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    width: 80%;
  }
  .resume {
    padding: 10px;
  }
  .resume-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .list-item__title {
    font-size: 14px;
  }
  .list-item__date {
    font-size: 12px;
  }
  .list-item__text {
    font-size: 12px;
    line-height: 1.4;
  }
  .about-contacts__link {
    display: block;
    font-size: 13px;
  }
}
@media (max-width: 567px) {
  .logo-img {
    width: 70px;
    height: 70px;
  }
  .logo-lines {
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .container {
    min-width: 320px;
  }
  .name {
    letter-spacing: normal;
  }
  .level {
    width: 50%;
  }
  
}

.extra_spacing{
  height: 100%;
}

.education span{
  display: block;
  margin-bottom: 10px;
}
.education p{
  margin: 0 auto;
}

.skills-list{
  margin-left: 30px;
}

.personal_details{
  margin-bottom: 20px;
}

table{
  width: 100%;
}
table tr td{
  width: 50%;
  font-size: 18px;
  padding: 5px 10px;
  /* border: 1px solid red; */
}